.u-row {
    margin: 0 !important;
}

p {
    margin: 0;
}

header {
    height: 463px;
    color: #fff;
    background-image: url('../images/banner.png');
    background-size: 100% 100%;
    font-weight: 400;
    overflow-x: scroll;
}

header h1 {
    width: 758px;
    margin: 0 0 14px 0;
    font-size: 50px;
    font-weight: 400;
}

header p {
    width: 754px;
    height: 88px;
    font-size: 16px;
    font-family: PingFangSC-Regular,PingFang SC;
    color: rgba(255,255,255,1);
    line-height: 22px;
}

header .buttons {
    margin-top: 38px;
}

header .buttons a {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: transparent;
    border: 1px solid rgba(255,255,255,1);
    color: #fff;
    border-radius: 28px;
    font-size: 20px;
}

header .buttons a:first-of-type {
    margin-right: 20px;
}

header .buttons a:hover {
    background: rgba(255,255,255,1);
    border: none;
    color: #E45F59;
}

header .width-1200 {
    margin-top: 106px;
}

.width-1200 {
    width: 1200px;
    margin: 0 auto;
}

.quick-start {
    height: 410px;
    padding-top: 61px;
    background-image: url('../images/quick-start.png');
    overflow-x: scroll;
}

.title {
    font-size: 26px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight: 600;
    color: rgba(59,59,59,1);
    line-height: 37px;
}

.title .line {
    margin-top: 16px;
    width: 26px;
    display: block;
    height: 2px;
    background: rgba(229,57,53,1);
}

.quick-start .title {
    margin-bottom: 34px;
}

.quick-start .wrapper {
    display: flex;
}

.quick-start .wrapper > div {
    display: inline-block;
    width: 180px;
    margin-right: 70px;
}

.quick-start .wrapper > div:last-of-type {
    margin: 0;
}

.quick-start .wrapper > div > p {
    padding-bottom: 8px;
    border-bottom: 1px solid #D8D8D8;
    font-size: 16px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight: 600;
    color: rgba(67,67,67,1);
}

.quick-start .wrapper li {
    margin-top: 15px;
}

.quick-start .wrapper a {
    margin-top: 15px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(83,83,83,1);
    line-height: 20px;
}

.quick-start .wrapper a:hover {
    color: #E45D56;
}

.doc-guide-item {
    position: relative;
    padding: 38px 0 42px;
    overflow-x: scroll;
}

.doc-guide-item .width-1200 {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.doc-guide-item .width-1200 > div {
    position: relative;
    flex: 1;
    padding-top: 71px;
}

.doc-guide-item .width-1200 img:not(.dot) {
    width: 541px;
    height: 330px;
    z-index: 4;
}

.doc-guide-item .width-1200 img.dot {
    position: absolute;
}

.doc-guide-item.visible-development .width-1200 img.dot {
    top: -28px;
    left: -53px;
    z-index: 3;
}

.doc-guide-item.viewmodel .width-1200 img.dot {
    right: 348px;
    top: -38px;
    z-index: 3;
}

.doc-guide-item.mdx .width-1200 img.dot {
    left: -59px;
    bottom: -38px;
    z-index: 3;
}

.doc-guide-item.advanced-features .width-1200 img.dot {
    right: 347px;
    top: -36px;
    z-index: 3;
}

.doc-guide-item.gray .width-1200 {
    flex-direction: row;
}

.doc-guide-item .width-1200 .wrapper {
    width: 575px;
}

.doc-guide-item.visible-development .width-1200 .wrapper,
.doc-guide-item.mdx .width-1200 .wrapper {
    width: 540px;
}

.doc-guide-item .width-1200 .wrapper p {
    margin: 6px 0;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight: 600;
    color: rgba(67,67,67,1);
    line-height: 20px;
}

.doc-guide-item.gray .width-1200 > div {
    margin: 0;
    width: 660px;
}

.doc-guide-item .width-1200 > div .title {
    margin-bottom: 16px;
}

.doc-guide-item .width-1200 ul {
    display: flex;
    flex-wrap: wrap;
}

.doc-guide-item .width-1200 ul li {
    display: inline-block;
    margin: 8px 50px 8px 0;
}

.doc-guide-item.viewmodel .width-1200 div:nth-of-type(2) ul li {
    margin-right: 65px;
}

.doc-guide-item .width-1200 ul li a {
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: rgba(83,83,83,1);
    line-height: 20px;
}

.doc-guide-item .width-1200 ul li a:hover {
    color: #E45D56;
}

.gray {
    background: #F9F9F9;
}

.visible-development .inner {
    padding-left: 120px;
    background-image: url('../images/visual-development-background.png');
    background-position: 111px 41px;
}

.viewmodel .inner {
    padding-right: 96px;
    background-image: url('../images/data-model-background.png');
    background-position: 0px 41px;
}

.mdx .inner {
    padding-left: 120px;
    background-image: url('../images/mdx-background.png');
    background-position: 120px 41px;
}

.advanced-features {
    padding-bottom: 180px;
}

.advanced-features .inner {
    padding-right: 132px;
    background-image: url('../images/advanced-features-background.png');
    background-position: 0px 31px;
}

.doc-guide-item .width-1200 .background {
    position: absolute;
    top: 0;
    left: 0;
}

.inner {
    background-repeat: no-repeat;
}

.footer .footer-top {
    padding-top: 128px !important;
}

.services {
    position: absolute;
    width: 1200px;
    height: 180px;
    padding: 0;
    left: calc(50% - 600px);
    top: 2570px;
    background: #fff;
}

.services-inner a {
    display: inline-block;
    width: 33%;
    color: #747474;
    margin-bottom: 17px;
}

.services-inner {
    float: left;
    width: 75%;
    background: #fff;
    height: 100%;
    padding: 30px 55px 30px 40px;
}

.services .title-left {
    width: 24%;
    height: 100%;
    float: left;
    background: #E45F59;
    padding: 30px;
    font-size: 24px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight: 600;
    color: rgba(255,255,255,1);
    line-height: 33px;
}

.services .title-left .line {
    position: absolute;
    left: 30px;
    top: 70px;
    width: 40px;
    height: 2px;
    background: rgba(255,255,255,1);
}

.services-inner a .content {
    
}

.services-inner a .title-main {
    margin-bottom: 10px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Semibold,PingFang SC;
    font-weight: 600;
    color: rgba(67,67,67,1);
    line-height:20px;
}

.doc-guide-item.services .services-inner a:hover .title-main,
.doc-guide-item.services .services-inner a:hover .description {
    color: #E45F59;
}

.services-inner a .content .description {
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.footer-out .footer .footer-top {
    width: 1200px;
    margin: 0 auto !important;
    padding: 0 50px 40px 0;
}