.nav {
    position: fixed;
    z-index: 1030;
    background: white;
    width: 100%;
    height: 65px;
    line-height: 65px;
    border-bottom: 1px solid #DFDFDF;
    font-size: 14px;
}

.nav .nav-left .nav-logo {
    display: inline-block;
    min-width: 245px;
}
.nav .nav-left .nav-logo a{
    color: #424242;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding-left:80px; 
}
.nav .nav-left .nav-logo a img{
    height: 30px;

}

.nav .nav-left .nav-search {
    color: white;
}

.nav .nav-left .nav-search .uf-search {
    color: #959AA5;
}

.nav .nav-left .nav-search #componentSearch {
    vertical-align: unset !important;
}

.nav .nav-left .nav-search #componentSearch::-webkit-input-placeholder {
    font-size: 14px!important;
}

.nav .nav-left .nav-search .u-form-control-affix-wrapper {
    width: auto;
}

.nav .nav-left .nav-search .u-form-control-affix-wrapper .u-form-control {
    width: 200px;
    font-size: 14px;
    color: #959AA5;
    border: none;
    padding-left: 30px;
}

.nav .nav-left .nav-search .u-form-control-affix-wrapper .u-form-control-suffix {
    right: auto;
    left: 0;
}

.algolia-docsearch-suggestion {
    border-color: #ddd;
}

.algolia-docsearch-suggestion--content {
    color: #2c3e50;
}

.algolia-docsearch-suggestion--subcategory-column {
    border-color: #ddd;
}

.algolia-docsearch-suggestion--category-header {
    background: #fff;
}

.algolia-docsearch-footer {
    border-color: #ddd;
}

.algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
    background: rgba(255, 255, 255, 0.6);
}

.algolia-docsearch-suggestion--highlight {
    color: #2c815b;
}

.aa-cursor .algolia-docsearch-suggestion--content {
    color: #2c3e50;
}

input::-webkit-input-placeholder {
    color: #959AA5;
    font-size: 14px;
}


@media screen and (max-width: 768px) {
    .nav-split{
         display: none;
    }
    .nav-search{
        display: none;
    }
    .nav-logo {
     width: 100%;
     text-align: center;
    }
    .nav .nav-left .nav-logo a{
        padding-left: 0;
    }
    .docs .doc-content{
        margin-right: 0!important;
    }
 }