<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="//design.yonyoucloud.com/static/tinper-bee/images/favicon.png" type="image/png" sizes="16x16">
    <link rel="stylesheet" href="./css/guide.css" type="text/css"/>
    <link rel="stylesheet" href="./css/footer.css" type="text/css"/>
    <link href="//design.yonyoucloud.com/static/tinper-bee/2.0.9/assets/tinper-bee.css" rel="stylesheet" media="screen" />
    <title>MDF 基于元数据的模型驱动开发框架</title>
</head>
<body>
    <div class="guide-container">
        <header>
            <div class="width-1200">
                <h1>Model-Driven Framework (MDF)</h1>
                <p class="introduction">
                    MDF框架是一个基于元数据的模型驱动开发框架。它支持通过模式化的配置自动生成并渲染页面，
                    集成了bpaas业务中台的支撑服务和能力中心相关能力，支持YonSuite和NCCloud两种模板风格。
                    Web开发和Mobile移动开发共用一套开发框架，共用一套扩展脚本，并支持不同维度的扩展开发。具有分层架构，分包解耦，架构灵活的特点。
                </p>
                <div class="buttons">
                    <a href='日志更新说明'>
                        日志
                    </a>
                    <a href='http://git.yonyou.com/mdd-pub/ucf-mdf-pub.git' target="_blank">脚手架</a>
                </div>
            </div>
        </header>
        <section class="quick-start">
            <div class="width-1200">
                <p class="title">
                    快速入门
                    <span class="line"></span>
                </p>
                <div class="wrapper">
                    <div>
                        <p>认识MDF</p>
                        <ul>
                            <li><a href="docs#/dyala7.html">特性与应用场景</a></li>
                            <li><a href="docs#/nn8g6v.html">开源前端技术应用情况</a></li>
                            <li><a href="docs#/tuae3u.html">MDF框架生态介绍</a></li>
                            <li><a href="docs#/dse7pp.html">模式化单据场景支持情况</a></li>
                        </ul>
                    </div>
                    <div>
                        <p>环境搭建与项目初始化</p>
                        <ul>
                            <li><a href="docs#/sqlcg0.html">环境安装</a></li>
                            <li><a href="docs#/kxzevh.html">前端工程安装与启动</a></li>
                            <li><a href="docs#/ms84b3.html">后端工程安装与启动</a></li>
                            <li><a href="docs#/gkwgbu.html">元数据配置说明</a></li>
                        </ul>
                    </div>
                    <div>
                        <p>框架运行时渲染原理</p>
                        <ul>
                            <li><a href="docs#/nxlr7d.html">整体架构说明</a></li>
                            <li><a href="docs#/slm8rp.html">模式化渲染</a></li>
                            <li><a href="docs#/tckasx.html">抽象和自动生成</a></li>
                            <li><a href="docs#/xgom7d.html">UI组件化集成</a></li>
                            <li><a href="docs#/bcn6hd.html">运行时MetaUI组件解析</a></li>
                        </ul>
                    </div>
                    <div>
                        <p>开发规范</p>
                        <ul>
                            <li><a href="docs#/wepxlb.html">脚手架规范说明</a></li>
                            <li><a href="docs#/grlz5s.html">主题维护规范</a></li>
                            <li><a href="docs#/zbvdas.html">字体图标使用规范</a></li>
                        </ul>
                    </div>
                    <div>
                        <p>其他</p>
                        <ul>
                            <li><a href="docs#/deploy.html">部署与集成对接</a></li>
                            <li><a href="docs#/aoi7wo.html">渗透性测试-url中移除token</a></li>
                            <li><a href="docs#/hsem6o.html">React&JS代码调试</a></li>
                            <li><a href="docs#/su6eiy.html">Node代码调试</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="doc-guide-item visible-development">
            <div class="width-1200">
                <div class="inner">
                    <p class="title">
                        可视化开发
                        <span class="line"></span>
                    </p>
                    <div class="wrapper">
                        <div>
                            <p>组件配置</p>
                            <ul>
                                <li><a href="docs#/pn0gc2.html">组件解析流程</a></li>
                                <li><a href="docs#/xl5vdx.html">表单组件</a></li>
                                <li><a href="docs#/cb8f5g.html">容器组件</a></li>
                                <li><a href="docs#/hriqgs.html">操作按钮组件</a></li>
                                <li><a href="docs#/caxtgn.html">过滤器</a></li>
                            </ul>
                        </div>
                        <div>
                            <p>协议说明</p>
                            <ul>
                                <li><a href="docs#/xygte4.html">多端协议</a></li>
                                <li><a href="docs#/odv4mp.html">单据</a></li>
                                <li><a href="docs#/rr3cm5.html">模板</a></li>
                                <li><a href="docs#/rz66e4.html">实体</a></li>
                                <li><a href="docs#/iuzra3.html">命令</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <img src="./images/visible-development.png" alt='' />
                <img src="./images/dot.png" alt='' class="dot" />
            </div class="width-1200">
        </section>
        <section class="doc-guide-item gray viewmodel">
            <div class="width-1200">
                <div class="inner">
                    <p class="title">
                        数据模型
                        <span class="line"></span>
                    </p>
                    <div class="wrapper">
                        <div>
                            <p>模型手册</p>
                            <ul>
                                <li><a href="docs#/krm5pe.html">MVVM整体设计</a></li>
                                <li><a href="docs#/db4svh.html">ViewModel的新增和扩展</a></li>
                                <li><a href="docs#/sb73kp.html">ViewModel的父子间通讯</a></li>
                            </ul>
                        </div>
                        <div>
                            <p>ViewModel APIs</p>
                            <ul class='api-list'>
                                <li><a href="docs#/oi56rx.html">BaseModel</a></li>
                                <li><a href="docs#/wa0ing.html">SimpleModel</a></li>
                                <li><a href="docs#/lfoedn.html">TagModel</a></li>
                                <li><a href="docs#/pgdgif.html">ListModel</a></li>
                                <li><a href="docs#/cx96ve.html">GridModel</a></li>
                                <li><a href="docs#/ez4ycf.html">TreeModel</a></li>
                                <li><a href="docs#/dml595.html">FilterModel</a></li>
                                <li><a href="docs#/gfig08.html">ReferModel</a></li>
                                <li><a href="docs#/uwe9pc.html">ReportModel</a></li>
                            </ul>
                        </div>
                    </div>
                </div class="inner">
                <img src="./images/viewmodel.png" alt='' />
                <img src="./images/dot.png" alt='' class="dot" />
            </div class="width-1200">
        </section>
        <section class="doc-guide-item mdx">
            <div class="width-1200">
                <div class="inner">
                    <p class="title">
                        多维扩展
                        <span class="line"></span>
                    </p>
                    <div class="wrapper">
                        <div>
                            <p>页面逻辑扩展</p>
                            <ul>
                                <li><a href="docs#/rvg0g0.html">理解扩展脚本</a></li>
                                <li><a href="docs#/gwexqi.html">模板级扩展</a></li>
                                <li><a href="docs#/mndk8e.html">运行时扩展</a></li>
                                <li><a href="docs#/id9b6m.html">FreeView扩展</a></li>
                            </ul>
                        </div>
                        <div>
                            <p>公共服务扩展</p>
                            <ul>
                                <li><a href="docs#/vd9zf6.html">查询方案扩展</a></li>
                                <li><a href="docs#/vrs6qa.html">参照扩展</a></li>
                                <li><a href="docs#/vm9me7.html">扩展开发-级联参照开发</a></li>
                            </ul>
                        </div>
                        <div>
                            <p>页面组件扩展</p>
                            <ul>
                                <li><a href="docs#/qnzaoh.html">新增UI组件</a></li>
                                <li><a href="docs#/agb2r1.html">UI组件个性化配置</a></li>
                            </ul>
                        </div>
                    </div>
                </div class="inner">
                <img src="./images/mdx.png" alt='' />
                <img src="./images/dot.png" alt='' class="dot" />
            </div class="width-1200">
        </section>
        <section class="doc-guide-item gray advanced-features">
            <div class="width-1200">
                <div class="inner">
                    <p class="title">
                        高级特性
                        <span class="line"></span>
                    </p>
                    <div class="wrapper">
                        <div>
                            <p>全球化</p>
                            <ul>
                                <li><a href="docs#/gt5yld.html">提取工具</a></li>
                                <li><a href="docs#/edol4w.html">国际化方案</a></li>
                                <li><a href="docs#/itvyeb.html">MDF 2.x项目国际化demo</a></li>
                                <li><a href="docs#/vrlhch.html">lang转换工具</a></li>
                            </ul>
                        </div>
                        <div>
                            <p>风格交互</p>
                            <ul>
                                <li><a href="docs#/fp40tu.html">交互风格切换机制</a></li>
                                <li><a href="docs#/sx9lwg.html">NCCloud交互风格实现</a></li>
                                <li><a href="docs#/qe2sh4.html">图标字体文件汇总</a></li>
                                <li><a href="docs#/iiq9l3.html">MDF/BASEUI切换升级指导</a></li>
                            </ul>
                        </div>
                    </div>
                </div class="inner">
                <img src="./images/advanced-features.png" alt='' />
                <img src="./images/dot.png" alt='' class="dot" />
            </div>
        </section>
        <section class="doc-guide-item services">
            <p class="title-left">
                服务接入
                <span class="line"></span>
            </p>
            <div class="services-inner">
                <a href='docs#/vs2ccq.html'>
                    <div class="content">
                        <p class="title-main">参照</p>
                        <p class="description" title='设计原理、参照类型、外部获取model方式'>设计原理、参照类型、外部获取model方式</p class="description">
                    </div>
                </a>
                <a href="docs#/ea9k3a.html">
                    <div class="content">
                        <p class="title-main">打印</p>
                        <p class="description">打印准备工作、打印模板配置</p class="description">
                    </div>
                </a>
                <a href="docs#/zstno0.html">
                    <div class="content">
                        <p class="title-main">公式</p>
                        <p class="description">编写自动计算规则代码</p class="description">
                    </div>
                </a>
                <a href="docs#/aotbmw.html">
                    <div class="content">
                        <p class="title-main">附件</p>
                        <p class="description">前后端配置步骤</p>
                    </div>
                </a>
                <a href="docs#/nh61wz.html">
                    <div class="content">
                        <p class="title-main">流程</p>
                        <p class="description" title="流程准备工作、模型设计、与表单绑定">流程准备工作、模型设计、与表单绑定</p class="description">
                    </div>
                </a>
                <a href="docs#/nldaf7.html">
                    <div class="content">
                        <p class="title-main">页面状态</p>
                        <p class="description" title='启用配置、formularule场景、staterule场景'>启用配置、formularule场景、staterule场景</p>
                    </div>
                </a>
            </div>
        </section>
    </div>
    <div class="footer-out">
        <% include footer.html %>
    </div>
    <script>
        let linkList = document.querySelectorAll('a')
        var sidebarJson = JSON.parse('<%- JSON.stringify(sidebar) %>')
        let openKeys = []
        function getOpenKeys (key, arr) { // 获取应该展开的key项
            for (let item of arr) {
                if (!item.children) {
                    if(item.key === key) {
                        return true
                    }
                } else {
                    let res = getOpenKeys(key, item.children)
                    if (res) {
                        openKeys.push(item.name)
                        return true
                    }
                }
            }
        }
        linkList.forEach((item, index) => {
            item.onclick = (e) => {
                e.preventDefault()
                let href = decodeURI(item.getAttribute('href'));
                let target = item.getAttribute('target') || '_self'
                getOpenKeys(href, sidebarJson)
                if (openKeys.length) {
                    sessionStorage.clear()
                    for (let name of openKeys) {
                        sessionStorage.setItem(`${name}Open`, 'true');
                    }
                }
                window.open(href, target)
            }
        })
    </script>
</body>
</html>