<div id="rightMenusId">
    <ul class="rm-list">
        <% rightMenu.forEach(item=>{ %>
            <li class="rm-list-item" name="#<%= item.name %>"> 
                <a class="rm-list-item-a" href="#<%= item.name %>" title="<%= item.name %>"><%= item.name %></a></li>
                <% if(item.children){ %>  
                    <ul class="rm-child-list">
                        <% item.children.forEach(it=>{ %>
                            <li class="rm-list-item" name="#<%= it %>"> 
                                <a class="rm-list-item-a" href="#<%= it %>" title="<%= it %>"><%= it %> </a>
                            </li>
                        <% }) %>
                    </ul>
                <% } %>
        <% }) %>
    </ul>
</div>
