<div>
    <ul class="menu-components">
       <% sidebar.forEach(item=>{  %>
            <li class="menu-group">
                
                <% if(item.children){ var two = item.children; %>
                    <a href="<%= item.key %>" name="<%= item.key || item.name %>" class="menu-item icon-open <%= active==item.key?'active':''%>">
                        <%= item.name %>
                    </a>
                    <ul class='menu-components-2'>
                        <% two.forEach(item2=>{ %>
                            <li class="menu-group2">
                                <% if(item2.children){ var three = item2.children; %>
                                    <a href="<%= item2.key %>" name="<%= item2.key || item2.name %>" class="menu-item icon-open <%= active==item2.key?'active':''%>">
                                        <%= item2.name %>
                                    </a>
                                    <ul class='menu-components-3'>
                                        <% three.forEach(item3=>{ %>
                                            <li class="menu-group3">
                                                <a href="<%= item3.key %>" class="menu-item <%= active==item3.key?'active':''%>" name="<%= item3.key || item3.name %>"><%= item3.name %></a>
                                            </li>
                                        <% }) %>
                                    </ul>
                                <% } else { %>
                                    <a href="<%= item2.key %>" class="menu-item <%= active==item2.key?'active':''%> ">
                                        <%= item2.name %>
                                    </a>
                                <% } %>
                            </li>
                        <% }) %>
                    </ul>
                <% }else { %>
                    <a href="<%= item.key %>" name="<%= item.key || item.name %>" class="menu-item <%= active==item.key?'active':''%>">
                        <%= item.name %>
                    </a>
                <% } %>
            </li>
        <% }) %>
    </ul>
</div>


<script>

    // 展开关闭事件
    let nodeList = document.querySelectorAll('.menu-item.icon-open');
    nodeList.forEach((item, index) => {
        let name = item.getAttribute('name');
        item.onclick = (e) => {
            let cls = item.getAttribute('class');
            if (cls.indexOf('icon-open') != -1) { //打开状态
                cls=cls.replace('icon-open','icon-close');
                sessionStorage.setItem(`${name}Open`, 'false');
            } else { //关闭状态
                cls=cls.replace('icon-close','icon-open');
                sessionStorage.setItem(`${name}Open`, 'true');
            }
            item.setAttribute('class', cls);
        }
    })
    //初始化展开关闭
    nodeList.forEach((item,index)=>{
        let name = item.getAttribute('name');
        let cls = item.getAttribute('class');
        if(sessionStorage.getItem(`${name}Open`)=='false')item.setAttribute('class', cls.replace('icon-open','icon-close'));
    })


    //左侧滚动条定位
    let sidebar = document.querySelector('#sidebar');
    sidebar.onscroll = function () {
        sessionStorage.setItem('scrollTop', sidebar.scrollTop);
    }
    let sessionScrollTop = sessionStorage.getItem('scrollTop');
    if (sessionScrollTop) {
        sidebar.scrollTop = sessionScrollTop;
    }

</script>